<footer class="main-container">
    <div class="footer-section">
        <div class="logo font-karla">
            <h2>Cenk<br>Korkmaz</h2>
            <div class="info">
                <span>Web Developer</span><br>
                <span>Sulzbach an der Murr, <br>Germany</span>
            </div>
        </div>
        <div class="copyright font-fira">
            <span>&#169; Cenk Korkmaz 2024</span>
        </div>
        <div class="social-links font-karla">
            <a href="https://github.com/CenkKorkmaz92" target="_blank" rel="noopener">
                <button type="button">GitHub</button>
            </a>
            <a href="https://www.linkedin.com/in/cenk-korkmaz-2731072a5/" target="_blank" rel="noopener">
                <button type="button">LinkedIn</button>
            </a>
            <a href="/legal-notice.html">
                <button type="button">Legal Notice</button>
            </a>
        </div>
    </div>
</footer>