.hero {
    height: 100vh;
    width: 100vw;
    background-image: url('../../assets/img/backgrounds/background_first_section.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    color: #ffffff;

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            font-size: 1.5rem;
            font-weight: bold;
            padding-right: 96px;
        }

        .nav-links {
            list-style: none;
            display: flex;
            gap: 20px;

            li a {
                &:hover {
                    cursor: pointer;
                }
            }
        }

        .navbar-left-content {
            display: flex;
            align-items: center;
            padding-left: 96px;
        }

        .language-switch {
            button {
                background: none;
                border: none;

                &:hover {
                    cursor: pointer;
                }

                img {
                    display: block;
                    width: auto;
                    height: auto;
                }
            }
        }
    }

    .hero-content {
        text-align: center;
        margin-top: 50px;

        p {
            margin: 0;
        }

        .subtitle {
            margin-bottom: 10px;
        }

        .job {
            font-family: 'Fira Code', sans-serif;
            font-weight: 400;
            font-size: 40px;
            line-height: 40px;
        }

        .name {
            font-family: 'Karla', sans-serif;
            font-weight: 700;
            font-size: 128px;
            line-height: 128px;
        }

        .buttons {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            gap: 48px;

            .btn-primary,
            .btn-secondary {
                background: none;
                border: none;
                cursor: pointer;

                img {
                    display: block;
                    width: auto;
                    height: auto;
                }
            }
        }
    }

    .hero-marquee {
        display: flex;
        justify-content: center;
    }

    .bottom-section-hero-component {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .scroll-icon {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 24px;
        padding-left: 96px;
    }

    .social-links {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;
        padding-right: 96px;

        a {
            color: #00ffab;
            text-decoration: none;
            transition: color 0.3s;

            &:hover {
                color: #ffffff;
            }
        }

        p {
            transform: rotate(270deg);
            transform-origin: left center;
            white-space: nowrap;
            margin: 0;
            font-size: 14px;
        }
    }
}