<section class="hero">
    <nav class="navbar">
        <div class="navbar-left-content">
            <div class="language-switch">
                <button>
                    <img src="../../assets/img/translation_btn/default_translation_btn_EN.svg"
                        alt="Language switch button" class="nav-img-translate-btn-EN">
                </button>
            </div>
            <ul class="nav-links">
                <li><a routerLink="/about">About</a></li>
                <li><a routerLink="/skills">Skills</a></li>
                <li><a routerLink="/projects">Projects</a></li>
            </ul>
        </div>
        <div class="logo">Logo</div>
    </nav>

    <div class="hero-content">
        <p class="job">Frontend Developer</p>
        <p class="name">Cenk Korkmaz</p>
        <div class="buttons">
            <button class="btn-primary" routerLink="/projects">
                <span>Check my Work</span>
            </button>
            <button class="btn-secondary" routerLink="/contact">
                <span>Contact me</span>
            </button>
        </div>
    </div>

    <div class="hero-marquee">
        <div>
            <p>•</p>
            <p>Frontend Developer</p>
            <p>•</p>
            <p>Based in Sulzbach an der Murr</p>
            <p>•</p>
            <p>Open to work</p>
            <p>•</p>
            <p>Available for remote work</p>
            <p>•</p>
        </div>
    </div>

    <div class="bottom-section-hero-component">
        <div class="scroll-icon">
            <img class="scroll-arrow" src="../../assets/img/icons/scroll_arrow_start_position.svg" alt="Scroll down icon">
            <img src="../../assets/img/icons/vector_color_left_side.svg" alt="Left vector icon">
        </div>
        <div class="social-links">
            <div class="rotated-mail">
                <p>Cenk.Korkmaz&#64;gmail.com</p>
            </div>
            <a href="https://github.com" target="_blank">
                <img src="../../assets/img/icons/github_icon_default.svg" alt="GitHub Icon">
            </a>
            <a href="https://linkedin.com" target="_blank">
                <img src="../../assets/img/icons/linkedin_icon_default.svg" alt="LinkedIn Icon">
            </a>
            <img src="../../assets/img/icons/vector_grey_right_side.svg" alt="Right vector icon">
        </div>
    </div>
</section>