<section class="hero container">
    <nav class="navbar">
        <div class="navbar-left-content">
            <div class="language-switch">
                <button><img src="../../assets/img/translation_btn/default_translation_btn_EN.svg" alt=""></button>
            </div>
            <ul class="nav-links">
                <li><a routerLink="/about"><img src="../../assets/img/navbar/navbar_btn_default_about_me.svg"
                            alt=""></a></li>
                <li><a routerLink="/skills"><img src="../../assets/img/navbar/navbar_btn_default_skills.svg" alt=""></a>
                </li>
                <li><a routerLink="/projects"><img src="../../assets/img/navbar/navbar_btn_default_skills.svg"
                            alt=""></a></li>
            </ul>
        </div>
        <div>
            <div class="logo">Cenk Korkmaz</div>
        </div>

    </nav>

    <div class="hero-content">
        <p class="job">Frontend Developer</p>
        <p class="name" >Cenk Korkmaz</p>
        <div class="buttons">
            <button class="btn-primary" routerLink="/projects"><img
                    src="../../assets/img/hero_btn/first_btn_default.svg" alt=""></button>
            <button class="btn-secondary" routerLink="/contact"><img
                    src="../../assets/img/hero_btn/second_btn_default.svg" alt=""></button>
        </div>
    </div>
    <div class="hero-marquee">
        <p>Frontend Developer • Based in Sulzbach an der Murr • Open to work • Available for remote work</p>
    </div>
    <div class="bottom-section-hero-component">
        <div class="scroll-icon">
            <img src="../../assets/img/icons/scroll_arrow_start_position.svg" alt="">
            <img src="../../assets/img/icons/vector_color_left_side.svg" alt="">
        </div>
        <div class="social-links">
            <p>Cenk.Korkmaz&#64;gmail.com</p>
            <a href="https://github.com" target="_blank"><img src="../../assets/img/icons/github_icon_default.svg"
                    alt=""></a>
            <a href="https://linkedin.com" target="_blank"><img src="../../assets/img/icons/linkedin_icon_default.svg"
                    alt=""></a>
            <img src="../../assets/img/icons/vector_grey_right_side.svg" alt="">
        </div>
    </div>



</section>