<section class="contact">
    <div class="left-contact-form">
        <h3 class="color font-karla">
            Contact me</h3>
        <h1 class="color font-fira">
            Let's work <br> together
        </h1>
        <h2 class="color font-fira">
            Got a problem to solve?
        </h2>
        <span>
            Contact me through this form, I am interested in hearing from you, knowing your ideas and contributing to
            your projects with my work.
        </span>
        <span>
            Need a Frontend developer? <span class="color">Let’s talk!</span>
        </span>
    </div>
    <div class="form-container">
        <div class="input-area">
            <div class="single-input-frame">
                <span class="font-fira">What's your name?</span>
                <input class="font-karla" type="text" placeholder="Your name goes here" required />
            </div>
            <div class="single-input-frame">
                <span class="font-fira">What's your email?</span>
                <input class="font-karla" type="email" placeholder="youremail@email.com" required />

            </div>
            <div class="single-input-frame">
                <span class="font-fira">How can I help you?</span>
                <textarea style="resize: none" [rows]="1" class="font-karla" rows="2"
                    placeholder="Hello, I am interested in..." required></textarea>
            </div>
        </div>

        <div class="checkbox-area">
            <div class="checkbox-container">
                <input type="checkbox" id="privacy" required />
                <label class="font-karla" for="privacy">I've read the <a class="font-fira" href="#"
                        style="color: #00ffcc;">privacy policy</a>and agree to the processing of my data as
                    outlined.</label>
            </div>
            <div class="btn-area">
                <button class="submit-btn">Say Hello ;)</button>
            </div>

        </div>



    </div>
</section>