<section is="skills" class="skills-section">
    <div class="self-summary-section">
        <div class="technologies">
            <span>Technologies</span>
        </div>
        <div class="skill-set-description">
            <span class="headline-skill-set">Skill Set</span>
            <span>
                My journey has involved working on diverse projects, employing a range of frontend technologies
                and concepts. I am open to embracing new technologies and methodologies to continuously enhance my
                skills and stay ahead in the ever-evolving landscape of web development.
            </span>
            <div>
                <h2>
                    You need <span class="subline-another-skill">another skill?</span>
                </h2>
                <span>Feel free to contact me. I look forward to expanding on my previous knowledge.</span>
            </div>
            <div class="buttons">
                <a href="#contact" class="btn-secondary">
                    <span>Let's Talk</span>
                </a>
            </div>
        </div>
    </div>

    <div class="coding-icons">
        <div class="icons">
            <div class="icon">
                <img src="../../assets/img/icons/html.svg" alt="HTML" />
                HTML
            </div>
            <div class="icon">
                <img src="../../assets/img/icons/css.svg" alt="CSS" />
                CSS
            </div>
            <div class="icon">
                <img src="../../assets/img/icons/js.svg" alt="JavaScript" />
                JavaScript
            </div>
            <div class="icon">
                <img src="../../assets/img/icons/materila_design.svg" alt="Material Design" />
                Material Design
            </div>
        </div>
        <div class="icons">
            <div class="icon">
                <img src="../../assets/img/icons/ts.svg" alt="TypeScript" />
                TypeScript
            </div>
            <div class="icon">
                <img src="../../assets/img/icons/angular.svg" alt="Angular" />
                Angular
            </div>
            <div class="icon">
                <img src="../../assets/img/icons/firebase.svg" alt="Firebase" />
                Firebase
            </div>
            <div class="icon">
                <img src="../../assets/img/icons/git.svg" alt="GIT" />
                GIT
            </div>
        </div>
        <div class="icons">
            <div class="icon">
                <img src="../../assets/img/icons/api.svg" alt="Rest-API" />
                Rest-API
            </div>
            <div class="icon">
                <img src="../../assets/img/icons/scrum.svg" alt="Scrum" />
                Scrum
            </div>
            <div class="icon growth-mindset">
                <img src="../../assets/img/icons/growth.svg" alt="Growth mindset" />
                <span>Growth mindset</span>
                <div class="popup">
                    <p>I have a special interest in learning</p>
                    <div class="icons">
                        <span class="pop-up-icon-container"><img src="../../assets/img/icons/react.svg" alt="" />
                            React</span>
                        <span class="pop-up-icon-container"><img src="../../assets/img/icons/vueJs.svg" alt="" />
                            VueJs</span>
                    </div>
                </div>
            </div>
            <div class="icon">
                <img src="../../assets/img/icons/growth.svg" alt="" style="display: none;" />
            </div>
        </div>
    </div>
</section>