<section id="projects" class="portfolio">
    <div class="portfolio-container">
        <span class="portfolio-headline">Portfolio</span>
        <h1>Featured Projects</h1>
        <span class="portfolio-description">
            Explore a selection of my work here...
        </span>
        <div>
            <div class="Projects-and-pop-up-container" *ngFor="let project of projects" (click)="openModal(project)">
                <div class="projects-container">
                    <div class="project-headline">
                        {{ project.title }}<img src="assets/img/icons/arrow_outward.svg" alt="">
                    </div>
                    <div class="skills-used-text">
                        <ng-container *ngFor="let tech of project.technologies; let last=last">
                            <span>{{ tech }}</span>
                            <div class="vector-1" *ngIf="!last"></div>
                        </ng-container>
                    </div>
                </div>
                <img [src]="project.imageUrl" alt="{{ project.title }}">
            </div>
        </div>
    </div>

    <app-project-modal *ngIf="selectedProject" [project]="selectedProject" (close)="closeModal()"
        (next)="nextProject()">
    </app-project-modal>
</section>