<section class="portfolio">
    <div class="portfolio-container">
        <span class="portfolio-headline">Portfolio</span>
        <h1>Featured Projects</h1>
        <span class="portfolio-description">Explore a selection of my work here - Interact with projects to see my
            skills in action.</span>

        <div class="projects-container">
            <div class="project-headline">Join</div>
            <div class="skills-used-text">
                <span>Angular</span>
                <div class="vector-1"></div>
                <span>TypeScript</span>
                <div class="vector-1"></div>
                <span>HTML</span>
                <div class="vector-1"></div>
                <span>CSS</span>
                <div class="vector-1"></div>
                <span>Firebase</span>
            </div>
        </div>
        <div class="projects-container">
            <div class="project-headline">El Pollo Loco</div>
            <div class="skills-used-text">
                <span>HTML</span>
                <div class="vector-1"></div>
                <span>CSS</span>
                <div class="vector-1"></div>
                <span>JavaScript</span>
            </div>
        </div>
        <div class="projects-container">
            <div class="project-headline">DA Bubble</div>
            <div class="skills-used-text">
                <span>Angular</span>
                <div class="vector-1"></div>
                <span>Firebase</span>
                <div class="vector-1"></div>
                <span>Typescript</span>
            </div>
        </div>

    </div>
</section>