body {
  background-color: rgb(28, 28, 28);
  }
  
  .social-links {
    display: flex;
    flex-direction: column;
    gap: 8px;

    a {
        text-decoration: none;
    }

    button {
        display: flex;
        border: none;
        background: transparent;
        color: white;
        font-size: 16px;
        position: relative;
        transition: transform 0.3s ease;

        &:hover {
            cursor: pointer;
            color: rgba(61, 207, 182, 1);
        }

        &:hover::before {
            opacity: 1;
        }

        &::before {
            content: "";
            position: absolute;
            left: -12px;
            top: 50%;
            transform: translateY(-50%);
            width: 6px;
            height: 6px;
            background-color: rgba(61, 207, 182, 1);
            border-radius: 50%;
            opacity: 0;
            transition: opacity 0.3s ease;
        }
    }
}

.single-button {
  width: 204px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .single-button:hover {
    color: rgb(61, 207, 182) !important;
    cursor: pointer;
  }
}

.font-karla {
    font-family: 'Karla', sans-serif;
}

.font-fira {
    font-family: 'Fira Code', sans-serif;
}