@font-face {
    font-family: 'Fira Code';
    src: url('/assets/fonts/fira_code/FiraCode-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: url('/assets/fonts/karla/Karla-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: url('/assets/fonts/karla/Karla-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

html,
body {
    width: 1440px;
    margin: 0;
    background-color: black;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: rgb(38, 82, 75) rgb(28,28,28);
}

.no-scroll {
    overflow: hidden;
}