<div class="imprint">
    <h1>Impressum</h1>

    <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
    <p>Philipp Schönborn<br />
    Baumschulenring 26<br />
    72202 Nagold</p>

    <h2>Kontakt</h2>
    <p>Telefon: +49 (0) 176 306 785 30<br />
    E-Mail:  <a href="mailto:philipp@schoenborn-home.de">philipp&#64;schoenborn-home.de</a></p>

    <h2>Redaktionell verantwortlich</h2>
    <p>Philipp Schönborn<br />
    Baumschulenring 26<br />
    72202 Nagold</p>

    <p>Quelle: <a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>
</div>

