<div class="modal-backdrop" (click)="onClose()"></div>
<div class="modal-content">
    <button class="close-btn" (click)="onClose()">X</button>

    <div class="modal-body">
        <div class="modal-left">
            <div class="project-number-title">
                <span class="project-number">0{{ project.id }}</span>
                <h2 class="project-title">{{ project.title }}</h2>
            </div>

            <h3 class="subtitle">What is this project about?</h3>
            <p class="description">{{ project.description }}</p>

            <div class="technologies">
                <ng-container *ngFor="let tech of project.technologies">
                    <img [src]="getIconPath(tech)" [alt]="tech" class="tech-icon">
                    <span>{{ tech }}</span>
                </ng-container>
            </div>

            <div class="links buttons">
                <a [href]="project.githubLink" target="_blank" class="btn-secondary">
                    <span>GitHub</span><span class="arrow">↗</span>
                </a>
                <a [href]="project.liveLink" target="_blank" class="btn-secondary">
                    <span>Live Test</span><span class="arrow">↗</span>
                </a>
            </div>




        </div>

        <div class="modal-right">
            <div class="image-wrapper">
                <img [src]="project.modalImageUrl || project.imageUrl" alt="{{ project.title }}">
            </div>
            <div class="next-project">
                <span>Next project</span>
                <span class="arrow">→</span>
            </div>

        </div>
    </div>
</div>